


<div class="container mt-5">

  <div class="row mb-5"><h3>Configuração de Usuário</h3></div>

  <p-selectButton [options]="tipoTela" [(ngModel)]="tipoTelaValue" optionLabel="label" optionValue="value"></p-selectButton>

  <div class="col-md-6 mt-5"></div>

  <!-- cadastrar usuario -->
  <div *ngIf="tipoTelaValue == 'cadastrar'">
    <form class="row g-2" [formGroup]="usuarioFormulario" (submit)="SalvarUsuarioFormularioCadastro()">

      <div class="col-md-6 mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="labelEmail">E-mail</span>
          </div>
          <input type="text" formControlName="Email" aria-describedby="labelEmail" class="form-control" id="emailId">
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="labelSenha">Senha</span>
          </div>
          <input type="password" formControlName="Senha" aria-describedby="labelSenha" class="form-control" id="senhaId">
        </div>
      </div>

      <!--<div class="col-md-6 mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="labelSenha">Senha</span>
          </div>
          <input formControlName="Senha" type="text" aria-describedby="labelSenha" class="form-control" id="Senha" required>
        </div>
      </div>-->

      <div class="col-md-6 mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="labelNomeCompleto">Nome completo</span>
          </div>
          <input type="text" formControlName="NomeCompleto" aria-describedby="labelNomeCompleto" class="form-control" id="nomeCompletoId">
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="labelPrimeiroNome">Como quer ser chamado</span>
          </div>
          <input type="text" formControlName="PrimeiroNome" aria-describedby="labelPrimeiroNome" class="form-control" id="primeiroNomeId">
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="labelSexo">Sexo</span>
          </div>
          <select formControlName="Sexo" class="form-control" aria-describedby="labelSexo" id="sexoId">
            <option *ngFor="let sexo of Sexos" [ngValue]="sexo">
              {{sexo.descricao}}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="labelCEP">CEP</span>
          </div>
          <input type="text" formControlName="Cep" aria-describedby="labelCEP" class="form-control" id="cepId">
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="labelEstado">Estado</span>
          </div>
          <select (change)="CarregarCidades();" formControlName="Estado" class="form-control" aria-describedby="labelEstado" id="estadoId">
            <option *ngFor="let estado of Estados" #estado [ngValue]="estado">
              {{estado.nome}}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="labelCidade">Cidade</span>
          </div>
          <select formControlName="Cidade" aria-describedby="labelCidade" class="form-control" id="cidadeId">
            <option *ngFor="let cidade of Cidades" [ngValue]="cidade">
              {{cidade.nome}}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="labelEndereco">Endereço</span>
          </div>
          <input type="text" formControlName="Endereco" aria-describedby="labelEndereco" class="form-control" id="enderecoId">
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="labelComplemento">Complemento</span>
          </div>
          <input type="text" formControlName="Complemento" aria-describedby="labelComplemento" class="form-control" id="complementoId">
        </div>
      </div>

      <div class="col-md-6 mt-5">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="labelNumero">Numero</span>
          </div>
          <input type="number" formControlName="Numero" aria-describedby="labelNumero" class="form-control" id="numeroId">
        </div>
      </div>

      <div class="col-12 mt-4">
        <button type="submit" [disabled]="!usuarioFormulario.valid" class="btn btn-primary">Salvar</button>
      </div>

      <div class="col-md-6 mt-5"></div>
    </form>
  </div>

  <!-- consultar pessoa -->
  <div *ngIf="tipoTelaValue == 'editar'">

    <p-table id='TabelaConsultaUsuarios' [columns]="cols" [value]="usuarios" dataKey="id" editMode="row">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2 ml-2" pTooltip="PDF" tooltipPosition="bottom"></button>
          <button pButton pRipple label="Salvar usuários" icon="pi pi-save" class="p-button-success float-right" (click)="EditarUsuarios(usuarios);"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Ativo</th>
          <!--<th>Perfil</th>-->
          <th style="width:8rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="usuario">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="usuario.primeiroNome">
              </ng-template>
              <ng-template pTemplate="output">
                {{usuario.primeiroNome}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <select [(ngModel)]="usuario.ativo">
                  <option [ngValue]="true">Ativo</option>
                  <option [ngValue]="false">Inativo</option>
                </select>
              </ng-template>
              <ng-template pTemplate="output">
                {{(usuario.ativo) == true ? 'Ativo' : 'Inativo'}}
              </ng-template>
            </p-cellEditor>
          </td>

          <!--<td>{{usuario.Perfil}}</td>-->
          <td style="text-align:center">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(usuario)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(usuario, ri)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(usuario, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>

</div>
