<div [ngSwitch]="tipoTela">

  <!-- cadastrar usuario -->
  <div *ngSwitchCase="'cadastrar'">
    <div class="container mt-5">
      <form class="row g-3" [formGroup]="usuarioFormulario" (submit)="SalvarUsuarioFormularioCadastro()">
        <div class="col-md-6">
          <label for="emailId" class="form-label">Email</label>
          <input type="text" formControlName="Email" class="form-control" id="emailId" placeholder="E-mail">
        </div>
        <div class="col-md-6">
          <label for="senhaId" class="form-label">Password</label>
          <input type="password" formControlName="Senha" class="form-control" id="senhaId" placeholder="Senha">
        </div>

        <div class="col-mb-3 mt-4">
          <legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
          <!-- <div class="col-sm-10"> -->
            <div class="form-check form-check-inline">
              <input formControlName="Sexo" class="form-check-input" type="radio" name="Sexo" id="sexoIdM" value="1">
                <label class="form-check-label" for="sexoIdM">
                  Masculino
                </label>
            </div>
            <div class="form-check form-check-inline">
              <input formControlName="Sexo" class="form-check-input" type="radio" name="Sexo" id="sexoIdF" value="2">
              <label class="form-check-label" for="sexoIdF">
                Feminino
              </label>
            </div>
          <!-- </div> -->
        </div>

        <div class="col-3 mt-4">
          <label for="primeiroNomeId" class="form-label">Primeiro nome</label>
          <input type="text" formControlName="PrimeiroNome" class="form-control" id="primeiroNomeId"
            placeholder="Primeiro nome">
        </div>

        <div class="col-6 mt-4 ms-5">
          <label for="nomeCompletoId" class="form-label">Nome completo</label>
          <input type="text" formControlName="NomeCompleto" class="form-control" id="nomeCompletoId"
            placeholder="Nome completo">
        </div>

        <div class="col-12 mt-4">
          <label for="enderecoId" class="form-label">Endereço</label>
          <input type="text" formControlName="Endereco" class="form-control" id="enderecoId" placeholder="Endereço">
        </div>

        <div class="col-10 mt-4">
          <label for="complementoId" class="form-label">Complemento</label>
          <input type="text" formControlName="Complemento" class="form-control" id="complementoId"
            placeholder="Complemento">
        </div>

        <div class="col-2 mt-4">
          <label for="numeroId" class="form-label">Número</label>
          <input type="number" formControlName="Numero" class="form-control" id="numeroId" placeholder="Número">
        </div>

        <div class="col-md-6 mt-4">
          <label for="cidadeId" class="form-label">Cidade</label>
          <input type="text" formControlName="Cidade" value="1" class="form-control" id="cidadeId">
        </div>

        <div class="col-md-4 mt-5">
          <label for="estadoId" class="form-label">Estado</label>
          <p-cascadeSelect formControlName="Estado" [(ngModel)]="cidadeSelecionada" [options]="Estado" 
          optionGroupLabel="nome" [style]="{'minWidth': '14rem'}" >
          </p-cascadeSelect>
        </div>

        <div class="col-md-2 mt-4">
          <label for="cepId" class="form-label">CEP</label>
          <input type="text" formControlName="Cep" class="form-control" id="cepId">
        </div>

        <div class="col-12 mt-4">
          <button type="submit" [disabled]="!usuarioFormulario.valid" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Consultar pessoa -->
  <div *ngSwitchCase="'editar'">
    <input type="button" (click)="SalvarUsuarioEditado();" value="Salvar" />
    <p-table [value]="usuarios" datakey="id">
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Tipo pessoa</th>
          <th>Ativo</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usu>
        <tr>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="usu.primeiroNome" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{usu.primeiroNome}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="usu.tipoPessoa" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{usu.tipoPessoa}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="usu.ativo">
              </ng-template>
              <ng-template pTemplate="output">
                {{usu.ativo}}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngSwitchCase="'consultar'">

    <p-table #primeNgTabelaConsultaUsuarios [value]="usuarios" >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Ativo</th>
          <th>Perfil</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td>{{usuario.primeiroNome}}</td>
          <td>{{usuario.ativo}}</td>
          <td>{{usuario.Perfil}}</td>
        </tr>
      </ng-template>
    </p-table>

  </div>

</div>