<div [ngSwitch]="tipoTela">

  <!-- Cadastro usuario -->
  <div *ngSwitchCase="'cadastro'">
    <div class="container" style="margin-top: 50px;">
      <form class="row g-3" [formGroup]="usuarioFormulario" (submit)="SalvarUsuarioFormularioCadastro()">
        <div class="col-md-6">
          <label for="emailId" class="form-label">Email</label>
          <input type="text" formControlName="Email" class="form-control" id="emailId">
        </div>
        <div class="col-md-6">
          <label for="senhaId" class="form-label">Password</label>
          <input type="password" formControlName="Senha" class="form-control" id="senhaId">
        </div>
        <div class="col-12">
          <label for="primeiroNomeId" class="form-label">Primeiro nome</label>
          <input type="text" formControlName="PrimeiroNome" class="form-control" id="primeiroNomeId"
            placeholder="Primeiro nome">
        </div>
        <div class="col-12">
          <label for="nomeCompletoId" class="form-label">Nome completo</label>
          <input type="text" formControlName="NomeCompleto" class="form-control" id="nomeCompletoId"
            placeholder="Nome completo">
        </div>
        <div class="col-12">
          <label for="enderecoId" class="form-label">Endereço</label>
          <input type="text" formControlName="Endereco" class="form-control" id="enderecoId" placeholder="Endereço">
        </div>
        <div class="col-10">
          <label for="complementoId" class="form-label">Complemento</label>
          <input type="text" formControlName="Complemento" class="form-control" id="complementoId"
            placeholder="Complemento">
        </div>
        <div class="col-2">
          <label for="numeroId" class="form-label">Número</label>
          <input type="number" formControlName="Numero" class="form-control" id="numeroId" placeholder="Número">
        </div>
        <div class="col-md-6">
          <label for="cidadeId" class="form-label">Cidade</label>
          <input type="text" formControlName="Cidade" value="1" class="form-control" id="cidadeId">
        </div>
        <div class="col-md-4">
          <label for="estadoId" class="form-label">Estado</label>
          <select id="estadoId" formControlName="Estado" class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg">
            <option selected>Escolha...</option>
            <option value="1">RJ</option>
            <option value="2">SP</option>
            <option value="3">MG</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="cepId" class="form-label">CEP</label>
          <input type="text" formControlName="Cep" class="form-control" id="cepId">
        </div>
        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-2 pt-0">Sexo</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input formControlName="Sexo" class="form-check-input" type="radio" name="Sexo" id="sexoIdM" value="1"
                checked>
              <label class="form-check-label" for="sexoIdM">
                Masculino
              </label>
            </div>
            <div class="form-check">
              <input formControlName="Sexo" class="form-check-input" type="radio" name="Sexo" id="sexoIdF" value="2">
              <label class="form-check-label" for="sexoIdF">
                Feminino
              </label>
            </div>
          </div>
        </fieldset>
        <div class="col-12">
          <button type="submit" [disabled]="!usuarioFormulario.valid" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
  
  <!-- Consultar pessoa -->
  <div *ngSwitchCase="'consulta'">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Tipo pessoa</th>
          <th scope="col">Ativo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usu of _usuarios; index as i" class="table-row-action edit-action" [class]="(editar)?'table-row-action edit-action':''" class="hover-highlight" (click)="EditarUsuario($event, i)" (clickout)="Teste()" >
          <td>
            {{usu.primeiroNome}}
          </td>
          <td>{{usu.tipoPessoa}}</td>
          <td>{{usu.ativo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>






<!-- 
<p-table [value]="flights" (onEditInit)="onEditInit($event)" (onEditCancel)="onEditCancel()">
  <ng-template pTemplate="header">
      <tr>
          <th>Flight</th>
          <th>From</th>
          <th>To</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-flight>
      <tr>
          <td>{{flight.flightNumber}}</td>
          <td pEditableColumn>
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="flight.origin" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{flight.origin}}
                  </ng-template>
              </p-cellEditor>
          </td>
          <td pEditableColumn>
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="flight.destination">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{flight.destination}}
                  </ng-template>
              </p-cellEditor>
          </td>
      </tr>
  </ng-template>
</p-table> -->