<mat-toolbar class="mx-center">

  <a mat-button [mat-menu-trigger-for]="appMenuUsuario">Administração</a>
  <mat-menu #appMenuUsuario="matMenu">
    <a mat-button routerLink="usuario">Usuários</a>
    <a mat-button routerLink="perfil">Perfil</a>
    <a mat-button routerLink="permissao">Permissões</a>
  </mat-menu>

  <a mat-button routerLink="contratoLocacao">Contrato Locação</a>

  <a mat-button routerLink="unidade">Unidade</a>

  <a mat-button routerLink="importarValoresDeConsumo">Importar Valores de Consumo</a>

  <a mat-button routerLink="valoresFaturados">Valores Faturados</a>

  <a mat-button [mat-menu-trigger-for]="appMenuCobranca">Cobrança</a>
  <mat-menu #appMenuCobranca="matMenu">
    <a mat-button routerLink="cobrarNds">Cobrar NDs</a>
    <a mat-button routerLink="emitirNds">Emitir NDs</a>
  </mat-menu>
</mat-toolbar>
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

    a:hover {
      background-color: #111111;
    }
</style>
