<div class="container mt-5">

  <div class="row mb-5"><h3>Criar Perfil</h3></div>

  <form class="row g-1" [formGroup]="perfilFormulario" (submit)="SalvarPerfil()">
    <div class="col-md-6 mt-2">
      <label for="PerfilId" class="form-label">Nome</label>
      <input type="text" formControlName="Nome" class="form-control" id="PerfilId">
    </div>
    <div class="col-md-6 mt-5"></div>
    <div class="col-md-6 mt-5">
      <label for="DescricaoId" class="form-label">Descrição</label>
      <textarea formControlName="Descricao" class="form-control" id="DescricaoId" rows="3"></textarea>
    </div>
    <div class="col-12 mt-5">
      <button type="submit" [disabled]="!perfilFormulario.valid" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>
