<div class="container mt-5">

  <div class="row mb-5"><h3>Contrato Locação</h3></div>

  <p-selectButton [options]="tipoTela" [(ngModel)]="tipoTelaValue" optionLabel="label" optionValue="value"></p-selectButton>

  <div class="col-md-6 mt-5"></div>

  <div *ngIf="tipoTelaValue == 'cadastrar'">
    <form class="row g-2" (submit)="SalvarContrato()" [formGroup]="contratoLocacaoFormulario">

      <div class="col-md-6">
        <label for="multiselectUnidade"
               class="form-label">Unidade</label><br>
        <p-multiSelect formControlName="unidades" name="unidades" [options]="unidades" id="multiselectUnidade" class="form-select w-25"
                       [(ngModel)]="unidadesSelecionadas" defaultLabel="Selecione uma unidade" optionLabel="nome"
                       display="chip">
        </p-multiSelect>
      </div>

      <div class="col-md-6">
        <label for="multiselectClassificacao" class="form-label">Classificação</label><br>
        <p-multiSelect name="classificacao" formControlName="classificacao" [options]="classificacao" id="multiselectClassificacao"
                       class="form-select w-25" [(ngModel)]="classificacoesSelecionadas"
                       defaultLabel="Selecione uma classificação" optionLabel="nome" display="chip">
        </p-multiSelect>
      </div>


      <div class="col-md-6 mt-5">
        <label for="multiSelectTipoLocacao" class="form-label">Tipo Locação</label><br>
        <p-multiSelect name="tipoLocacao" formControlName="tipoLocacao" [options]="tipoLocacao" class="form-select w-25"
                       id="multiSelectTipoLocacao" [(ngModel)]="tipoLocacaoSelecionada"
                       defaultLabel="Selecione uma Tipo Locação" optionLabel="nome" display="chip">
        </p-multiSelect>
      </div>

      <div class="col-md-6 mt-5">
        <label for="multiSelectNomeFantasia" class="form-label">Marca</label><br>
        <p-multiSelect name="nomeFantasia" formControlName="nomeFantasia" [options]="nomeFantasia" class="form-select w-25"
                       id="multiselectNomeFantasia" [(ngModel)]="nomeFantasiaSelecionada"
                       defaultLabel="Selecione um Nome Fantasia" optionLabel="nome" display="chip">
        </p-multiSelect>
      </div>

      <div class="col-md-6 mt-5">
        <label for="multiSelectFase" class="form-label">Fase</label><br>
        <p-multiSelect name="fase" formControlName="fase" [options]="fase" class="form-select" id="multiselectFase"
                       [(ngModel)]="faseSelecionada" defaultLabel="Selecione uma fase" optionLabel="nome"
                       display="chip">
        </p-multiSelect>
      </div>

      <div class="col-md-6 mt-5">
        <label for="multiSelectFormaCalculo" class="form-label">Forma Cálculo</label><br>
        <p-multiSelect name="formaCalculo" formControlName="formaCalculo" [options]="formaCalculo" class="form-select"
                       id="multiselectFormaCalculo" [(ngModel)]="formaCalculoSelecionado"
                       defaultLabel="Selecione uma Forma Cálculo" optionLabel="nome" display="chip">
        </p-multiSelect>
      </div>

      <div class="col-md-6 mt-5">
        <label for="multiSelectFormaCalculo" class="form-label">O Contrato é virtual?</label><br>
        <p-selectButton multiple="multiple" [options]="virtuais" formControlName="virtual" [(ngModel)]="virtuaisSelecionado" optionLabel="name" ngDefaultControl></p-selectButton>
      </div>

      <div class="col-md-6 mt-5">
        <label for="multiSelectAssinado" class="form-label">Assinado</label><br>
        <p-selectButton multiple="multiple" [options]="assinados" formControlName="assinado" [(ngModel)]="assinadoSelecionado" optionLabel="name" ngDefaultControl></p-selectButton>
      </div>

      <div class="col-md-6 mt-5">
        <label for="multiSelectFormaCalculo" class="form-label">Vigente</label><br>
        <p-selectButton multiple="multiple" [options]="vigentes" formControlName="vigente" [(ngModel)]="vigentesSelecionado" optionLabel="name" ngDefaultControl></p-selectButton>
      </div>

      <div class="col-md-6 mt-5">
        <label for="multiSelectFormaCalculo" class="form-label">Cobrado</label><br>
        <p-selectButton multiple="multiple" [options]="cobrados" formControlName="cobrado" [(ngModel)]="cobradoSelecionado" optionLabel="name" ngDefaultControl></p-selectButton>
      </div>

      <div class="col-md-6 mt-5">
        <label for="multiSelectFormaCalculo" class="form-label">Exceção</label><br>
        <p-selectButton multiple="multiple" [options]="excecoes" formControlName="excecao" [(ngModel)]="excecaoSelecionado" optionLabel="name" ngDefaultControl></p-selectButton>
      </div>

      <div class="col-md-6 mt-5"></div>

      <div class="col-md-6 mt-5">
        <label for="calendarioDtAssinaturaInicio" class="form-label">Inicio da data de assinatura</label><br>
        <p-calendar id="calendarioDtAssinaturaInicio" [(ngModel)]="dtAssinaturaInicio" formControlName="dtAssinaturaInicio" [showIcon]="true" inputId="icon"></p-calendar>
      </div>
      <div class="col-md-6 mt-5">
        <label for="calendarioDtAssinaturaFim" class="form-label">Fim da data de assinatura-tirar</label><br>
        <p-calendar id="calendarioDtAssinaturaFim" [(ngModel)]="dtAssinaturaFim" formControlName="dtAssinaturaFim" [showIcon]="true" inputId="icon"></p-calendar>
      </div>

      <div class="col-md-6 mt-5">
        <label for="calendarioDtInicioDaVigencia" class="form-label">Inicio da vigência</label><br>
        <p-calendar id="calendarioDtInicioDaVigencia" [(ngModel)]="dtInicioDaVigencia" formControlName="dtInicioDaVigencia" [showIcon]="true" inputId="icon"></p-calendar>
      </div>

      <div class="col-md-6 mt-5">
        <label for="calendarioDtFimDaVigencia" class="form-label">Fim da vigência</label><br>
        <p-calendar id="calendarioDtFimDaVigencia" [(ngModel)]="dtFimDaVigencia" dateFormat="mm.yy" formControlName="dtFimDaVigencia" [showIcon]="true" inputId="icon"></p-calendar>
      </div>

      <div class="col-12 mt-4">
        <button type="submit" [disabled]="!contratoLocacaoFormulario.valid" class="btn btn-primary">Salvar</button>
      </div>

      <div class="col-md-6 mt-5"></div>
    </form>
  </div>

  <div *ngIf="tipoTelaValue == 'consultar'">

  </div>


  </div>
