<div class="container mt-5">

  <div class="row mb-5"><h3>Cadastrar Contrato Locação</h3></div>

  <div [ngSwitch]="tipoTela">

    <div *ngSwitchCase="'cadastrar'">
      <form class="row g-2" (submit)="SalvarContratoFormularioCadastro()" [formGroup]="contratoLocacaoFormulario">

        <div class="col-md-6">
          <label for="multiselectUnidade"
                 class="form-label">Unidade</label><br>
          <p-multiSelect formControlName="unidades" name="unidades" [options]="unidades" id="multiselectUnidade" class="form-select"
                         [(ngModel)]="unidadesSelecionadas" defaultLabel="Selecione uma unidade" optionLabel="nome"
                         display="chip">
          </p-multiSelect>
        </div>

        <div class="col-md-6">
          <label for="multiselectClassificacao" class="form-label">Classificação</label><br>
          <p-multiSelect name="classificacao" formControlName="classificacao" [options]="classificacao" id="multiselectClassificacao"
                         class="form-select" [(ngModel)]="classificacoesSelecionadas"
                         defaultLabel="Selecione uma classificação" optionLabel="nome" display="chip">
          </p-multiSelect>
        </div>


        <div class="col-md-6 mt-5">
          <label for="multiselectTipoLocacao" class="form-label">Tipo Locação</label><br>
          <p-multiSelect name="tipoLocacao" formControlName="tipoLocacao" [options]="tipoLocacao" class="form-select"
                         id="multiselectTipoLocacao" [(ngModel)]="tipoLocacaoSelecionada"
                         defaultLabel="Selecione uma Tipo Locação" optionLabel="nome" display="chip">
          </p-multiSelect>
        </div>

        <div class="col-md-6 mt-5">
          <label for="multiselectNomeFantasia" class="form-label">Nome Fantasia</label><br>
          <p-multiSelect name="nomeFantasia" formControlName="nomeFantasia" [options]="nomeFantasia" class="form-select"
                         id="multiselectNomeFantasia" [(ngModel)]="nomeFantasiaSelecionada"
                         defaultLabel="Selecione um Nome Fantasia" optionLabel="nome" display="chip">
          </p-multiSelect>
        </div>

        <div class="col-md-6 mt-5">
          <label for="multiselectFase" class="form-label">Fase</label><br>
          <p-multiSelect name="fase" formControlName="fase" [options]="fase" class="form-select" id="multiselectFase"
                         [(ngModel)]="faseSelecionada" defaultLabel="Selecione uma fase" optionLabel="nome"
                         display="chip">
          </p-multiSelect>
        </div>

        <div class="col-md-6 mt-5">
          <label for="multiselectFormaCalculo" class="form-label">Forma Cálculo</label><br>
          <p-multiSelect name="formaCalculo" formControlName="formaCalculo" [options]="formaCalculo" class="form-select"
                         id="multiselectFormaCalculo" [(ngModel)]="formaCalculoSelecionado"
                         defaultLabel="Selecione uma Forma Cálculo" optionLabel="nome" display="chip">
          </p-multiSelect>
        </div>

        <div class="col-md-6 mt-5">
          <label for="multiselectFormaCalculo" class="form-label">O Contrato é virtual?</label><br>
          <p-selectButton multiple="multiple" [options]="virtuais" formControlName="virtual" [(ngModel)]="virtuaisSelecionado" optionLabel="name" ngDefaultControl></p-selectButton>
        </div>

        <div class="col-md-6 mt-5">
          <label for="multiselectAssinado" class="form-label">Assinado</label><br>
          <p-selectButton multiple="multiple" [options]="assinados" formControlName="assinado" [(ngModel)]="assinadoSelecionado" optionLabel="name" ngDefaultControl></p-selectButton>
        </div>

        <div class="col-md-6 mt-5">
          <label for="multiselectFormaCalculo" class="form-label">Vigente</label><br>
          <p-selectButton multiple="multiple" [options]="vigentes" formControlName="vigente" [(ngModel)]="vigentesSelecionado" optionLabel="name" ngDefaultControl></p-selectButton>
        </div>

        <div class="col-md-6 mt-5">
          <label for="multiselectFormaCalculo" class="form-label">Cobrado</label><br>
          <p-selectButton multiple="multiple" [options]="cobrados" formControlName="cobrado" [(ngModel)]="cobradoSelecionado" optionLabel="name" ngDefaultControl></p-selectButton>
        </div>

        <div class="col-md-6 mt-5">
          <label for="multiselectFormaCalculo" class="form-label">Exceção</label><br>
          <p-selectButton multiple="multiple" [options]="excecoes" formControlName="excecao" [(ngModel)]="excecaoSelecionado" optionLabel="name" ngDefaultControl></p-selectButton>
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label for="multiselectFormaCalculo" class="form-label">Data de assinatura</label><br>
          <label for="icon">Icon</label>
          <p-calendar [(ngModel)]="date3" [showIcon]="true" inputId="icon"></p-calendar>
        </div>

        <div class="col-12 mt-4">
          <button type="submit" [disabled]="!contratoLocacaoFormulario.valid" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>


</div>
