<div class="container mt-5">

    <div [ngSwitch]="tipoTela">

        <!-- cadastrar contrato locação -->
        <div *ngSwitchCase="'cadastrar'">
            <form class="row g-2" (submit)="SalvarContratoFormularioCadastro()">

                <div class="col-md-6">
                    <label for="multiselectUnidade" class="form-label">Unidade</label><br>
                    <p-multiSelect name="unidades" [options]="unidades" id="multiselectUnidade" class="form-select"
                        [(ngModel)]="unidadesSelecionadas" defaultLabel="Selecione uma unidade" optionLabel="nome"
                        display="chip">
                    </p-multiSelect>
                </div>

                <div class="col-md-6">
                    <label for="multiselectClassificacao" class="form-label">Classificação</label><br>
                    <p-multiSelect name="classificacao" [options]="classificacao" id="multiselectClassificacao" class="form-select"
                        [(ngModel)]="classificacoesSelecionadas" defaultLabel="Selecione uma classificação"
                        optionLabel="nome" display="chip">
                    </p-multiSelect>
                </div>

                <div class="col-md-6 mt-5">
                    <label for="multiselectTipoLocacao" class="form-label">Tipo Locação</label><br>
                    <p-multiSelect name="tipoLocacao" [options]="tipoLocacao" class="form-select"
                        id="multiselectTipoLocacao" [(ngModel)]="tipoLocacaoSelecionada"
                        defaultLabel="Selecione uma Tipo Locação" optionLabel="nome" display="chip">
                    </p-multiSelect>
                </div>

                <div class="col-md-6 mt-5">
                    <label for="multiselectNomeFantasia" class="form-label">Nome Fantasia</label><br>
                    <p-multiSelect name="nomeFantasia" [options]="nomeFantasia" class="form-select" id="multiselectNomeFantasia"
                        [(ngModel)]="nomeFantasiaSelecionada" defaultLabel="Selecione um Nome Fantasia"
                        optionLabel="nome" display="chip">
                    </p-multiSelect>
                </div>

                <div class="col-md-6 mt-5">
                    <label for="multiselectFase" class="form-label">Fase</label><br>
                    <p-multiSelect name="fase" [options]="fase" class="form-select" id="multiselectFase"
                        [(ngModel)]="faseSelecionada" defaultLabel="Selecione uma fase" optionLabel="nome"
                        display="chip">
                    </p-multiSelect>
                </div>

                <div class="col-md-6 mt-5">
                    <label for="multiselectFormaCalculo" class="form-label">Forma Cálculo</label><br>
                    <p-multiSelect name="formaCalculo"  [options]="formaCalculo" class="form-select"
                        id="multiselectFormaCalculo" [(ngModel)]="formaCalculoSelecionado"
                        defaultLabel="Selecione uma Forma Cálculo" optionLabel="nome" display="chip">
                    </p-multiSelect>
                </div>

            </form>
        </div>
    </div>
</div>