<div class="container mt-5">

  <div class="row mb-5"><h3>Criar Permissão</h3></div>
  <form class="row g-1" [formGroup]="permissaoFormulario" (submit)="SalvarPermissao()">
    <div class="col-md-6 mt-2">
      <label for="NomeId" class="form-label">Nome</label>
      <input type="text" formControlName="Nome" class="form-control" id="NomeId">
    </div>
    <div class="col-md-6 mt-5"></div>
    <div class="col-md-6 mt-5">
      <label for="DescricaoId" class="form-label">Descrição</label>
      <textarea class="form-control" formControlName="Descricao" class="form-control" id="DescricaoId" rows="3"></textarea>
    </div>
    <div class="col-12 mt-5">
      <button type="submit" [disabled]="!permissaoFormulario.valid" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>
